In [3]:
# Tuple 
my_tup = (1,2,3,4,5)
print(my_tup[3])

4

In [ ]:
my_tup[1] = 'hu' # tupples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(5 in my_tup) # does 5 exist in tuple

True

In [7]:
# Tuple 
my_tuple = (1,2,3,4,5)
'''x = my_tuple[0]
y = my_tuple[1]'''
x,y,z,*other = (1,2,3,4,5)
print(other)

[4, 5]

In [ ]:
# tuple has only 2 methods 
print(my_tuple.index(5))
print(len(my_tuple))
print(my_tuple.count(4)) # how many 4's

4
5
1

In [14]:
#SET 
my_set ={1,2,3,4,5,5}
print(my_set)  # only prints unique values
my_set.add(100)

{1, 2, 3, 4, 5}

In [15]:
print(my_set)

{1, 2, 3, 4, 5, 100}

In [ ]:
my_set = {1,2,3,4,5,5}
new_set = my_set.copy
# task : return a list that has no duplicate values
#print(my_set[0] ) # we need a key to access 
print(1 in my_set)
print(len(my_set))
print(list(my_set))

True
5
[1, 2, 3, 4, 5]

In [ ]:
my_set = {1,2,3,4,5,5}
new_set = my_set.copy
my_set.clear()
print(new_set)

<built-in method copy of set object at 0x00000258E217E0A0>

In [ ]:
# methods 

my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))
# when viewed from my_set the diff is 1,2,3 . juat shows diff

{1, 2, 3}

In [ ]:
print(my_set.discard(5))
print(my_set) # modifies the set

None
{1, 2, 3, 4}

In [ ]:
print(my_set.difference_update(your_set))
print(my_set) # modifies for diff

None
{1, 2, 3}

In [37]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}
print(my_set.intersection(your_set))

{4, 5}

In [40]:
my_set = {1,2,3}
your_set = {4,5,6,7,8,9,10}
print(my_set.isdisjoint(your_set)) # if true means yes there is nothing in common

True

In [41]:
print(my_set.union(your_set))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
print(my_set| your_set) # union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
print(my_set & your_set) #intersection

set()

In [46]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.issubset(your_set))
print(your_set.issuperset(my_set))

True
True